// @import "fonts";
@import "colors";

html,
body,
.template-wrapper,
template-container {
    height: 100%;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica";
    font-size: 100%;
    height: 100%;
    width: 100%;
}


.pagination-breadcrumb {
    position: absolute;
    top: calc(100vh - 50px);
    right: 30px;
    color: white;
}

.event {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 100px;
        font-family: 'Times New Roman', Times, serif;
    }

    h2 {
        font-size: 50px;
        margin-left: 100px;
    }
}